@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));


  --color-border: hsl(var(--border));


  --radius: 0.5rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 84% 4.9%;
    --secondary: 215 20.2% 65.1%;
    --accent: 38 92% 50%;
    --border: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border; 
  }

  body {
    @apply bg-background font-sans text-secondary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }
}

@layer components {
  .h1 {
    @apply text-[40px] font-black uppercase leading-[1.1] xl:text-[54px];
  }
  .h2 {
    @apply text-[36px] font-bold capitalize leading-[1.3] xl:text-[46px] xl:leading-[56px];
  }
  .h3 {
    @apply text-3xl font-bold;
  }
  .h4 {
    @apply text-2xl font-semibold;
  }
}
